extends layout2

block content 
	div(id='banner')

	ul
		li 
			a(href='/')#create-account Home
		if user
			li 
				a(href='/overzicht')#create-account Producten
		li 
			a(href='/OverOns')#create-account Over ons
		li 
			a(href='/contact')#create-account Contact
		if !user
			li 
				a(href='/login')#create-account Inloggen

			li
				a(href='/signup')#create-account Registreren
		else
			li 
				a(href='/signout')#create-account Uitloggen
			li
				p Welkom #{user.username} !

		

	p(class='lead') Product detail

	ul(id='productdetail')

	form(id="bestel" method="post")
			label Aantal
			select(id="aantal" name="aantal" class="form-control")
				option(value="") Kies een aantal
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
			br
			button(type="submit" class="btn" id="addBtn") Product toevoegen

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="/javascripts/script.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect('http://localhost:3000');

		$(document).ready(function(){
			var id = location.search.split('id=')[1];
			socket.emit('findProductdetail', {product: id});

			$("#addBtn").on("click", function(e){
				var aantal = $("#aantal").val();
				var userid = "#{user._id}";
				var naam = "#{user.firstname} #{user.lastname}";
				var adres = "#{user.address}";
		
				socket.emit("addBestelling", {aantal: aantal, naam: naam, adres: adres, productid: id, userid: userid});
				window.location.href='/bestellingen';
				e.preventDefault();
			});
		});